:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;


  color-scheme: light dark;
  color: rgb(47, 47, 47);
  background-color: #61e8bb;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

  h1 {
    font-size: 70px;
    font-style: italic;
  }

  p {
    font-size: 20px;
  }

  h2 {
    font-size: 40px;
    color: red;
    font-weight: bold;
  }

  h3{
    font-size: 30px;
  }

  img {
    /* padding: 0px 0px 0px 1100px; */
    /* position: relative;
    left: 550px;
    top: 400px;
     */
     /* display: grid;
     grid-column: auto;
     grid-row: 1; */
  }